<div *ngIf="user_connecter" class="float-left w-25 border-right" style="position:fixed">
    <div class="pt-3 border-bottom" style="width:auto;background-color: #EDEDED;">
        <div class="mx-auto mb-3" style="width: 100px;">
            <img src="assets/user.png" class="mx-auto d-block">
            <p class="text-center mt-2 font-weight-bolder">{{user_connecter.pseudo}}</p>
            <a class="badge badge-pill badge-light text-center" routerLink="/inscription">Deconnexion</a>
        </div>
    </div>
    <div class="text-center" style="height: auto;">
        <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary m-2" (click)="show_input_ajout_contact()">Ajouter un contact</button>
      <div id="input-ajout-contact" style="display: none">
        <div class="input-group mx-auto w-75 mb-3 mt-3">
          <input type="text" class="form-control" placeholder="Email du contact" [formControl]="email_contact">
          <div class="input-group-append">
            <button class="btn btn-success" type="button" id="button-addon2" (click)="ajout_contact()">Valider</button>
          </div>
        </div>
        <p *ngIf="ajout_contact_info != null" class="text-danger">{{ajout_contact_info}}</p>
      </div>
    </div>
    <div class="overflow-auto" style="height: calc(100vh - 277px)">
        <div *ngFor="let contact of contacts;index as i" class="contact-item" (click)="onSelect(contact)">
            <div class="row no-gutters">
                <div class="col-sm-3 contact-img">
                    <div class="circle" [ngClass]="{'bg-circle-red': i == 0 , 'bg-circle-yellow': (i > 0 && i <=3) || (i > 5), 'bg-circle-green': i > 3 }">
                        <p>{{contact.identite.substring(0,1).toUpperCase()}}</p>
                    </div>
                </div>
                <div class="col-sm-7 contact-name">
                    <div class=""><p>{{contact.identite}}</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-messages [contact]="selectedContact"></app-messages>



