.messages-container {
  width: 75%;
  height: 100vh;
  min-height: 100vh;
  float: right;
}

.bottom {
  position: fixed;
  bottom: 0;
  height: 60px;
}

.bottom img:hover {
  cursor: pointer;
}

.green {
  fill: #DCF8C6;
}

.messages-item {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-container-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right:0;
}

svg {
  height: auto;
  width: auto;
}

.box-flex {
  display: flex;
  flex-direction: column;
}

.identite {
  position: fixed;
  background-color: #EDEDED;
  border-left: 1px solid #DADADA;
  height: 45px;
  width: 100%;
}

.content {
  flex: auto;
  overflow-y: scroll;
  background: url('../../assets/background.png');
  height: 100vh;
}

.footer {
  flex: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  background-color: #F0F0F0;
}

.bin {
  top: 5px;
  right: 5px;
  position: fixed;
  float: right;
  cursor: pointer;
}

.tail-out {
  color: #dcf8c6;
  display: block;
  height: 13px;
  position: relative;
  top: -8px;
  right: 0px;
  width: 8px;
}

.message-box-right {
  margin-bottom:5px;
  background-color: #dcf8c6;
  height: auto;
  max-width: 40%;
  border-radius: 7.5px;
  border-top-right-radius: 0;
}

.tail-in {
  color: white;
  display: block;
  height: 13px;
  position: relative;
  top: -8px;
  left: 0px;
  width: 8px;
}

.message-box-left {
  margin-bottom: 5px;
  background-color: white;
  height: auto;
  max-width: 40%;
  border-radius: 7.5px;
  border-top-left-radius: 0;
}

.message-text {
  padding: 6px 7px 8px 9px;
}